@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 4vw; /* Responsive font size */
  color: #000;
  text-align: center;
  margin-bottom: 2vw; /* Responsive margin */
}

header {
  color: #000000;
  text-align: center;
  padding: 15vw; /* Responsive padding */
  background-image: url("Placeholder.png");
  height: auto;
  background-size: cover;
}

.nav-links {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 2vw 8%; /* Responsive padding */
  border-radius: 2vw; /* Responsive border radius */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

.nav-links li {
  list-style: none;
  margin: 0 5vw; /* Responsive margin */
}

.nav-links li a {
  position: relative;
  color: #333;
  font-size: 2vw; /* Responsive font size */
  font-weight: 500;
  padding: 1vw 0; /* Responsive padding */
  text-decoration: none;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3vw; /* Responsive height */
  width: 0%;
  background: #34efdf;
  border-radius: 0.5vw; /* Responsive border radius */
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li.upward a:before {
  width: 100%;
  bottom: -0.1vw; /* Responsive bottom */
  opacity: 0;
}

.nav-links li.upward a:hover:before {
  bottom: 0vw;
  opacity: 1;
}

.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  background-color: #555;
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr)); /* Responsive grid */
  grid-gap: 2vw; /* Responsive gap */
  padding: 2vw; /* Responsive padding */
}

.art-piece {
  border: 0.3vw solid #000; /* Responsive border width */
  border-radius: 0.8vw; /* Responsive border radius */
  overflow: hidden;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1); /* Responsive box shadow */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.art-piece:hover {
  transform: scale(1.05);
  border: 0.3vw solid #7b7b7b; /* Border color on hover */
}

.art-piece img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1vw; /* Responsive padding */
  bottom: 0;
  width: 100%;
    position: fixed;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 2vw; /* Responsive padding */
  border-radius: 0.8vw; /* Responsive border radius */
  max-width: 60vw; /* Responsive max width */
  width: 100%;
  text-align: left;
  position: relative;
}

.popup-profile {
  border-radius: 50%;
  width: 10vw; /* Responsive width */
  max-width: 100%;
  height: auto;
}
